<turbo-frame id="app_<%= app.id %>">
  <%= link_to app_path(app), class: "app-card" do %>
    <div class="app-card-body">
      <h2><%= app.name %></h2>
      <p><%= truncate(app.api_key, length: 20) %></p>
    </div>
  <% end %>
</turbo-frame>
